<div class="container">
    <h2>Edit CourseInstructor</h2>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
        </div>
    </div>


    <form #courseForm="ngForm" *ngif="courseInstructor">
        <div class="form-row">
            <div class="col-md-4">
                <label>ID:</label>
                <input type="number" id="ID" name="ID" placeholder="Enter the CourseInstructor ID"
                    class="form-control" [(ngModel)]="courseInstructor.ID" readonly />
            </div>

            <div class="col-md-4">
                <label>CourseID:</label>
                <input type="text" id="CourseID" name="CourseID" placeholder="Enter the courseInstructor CourseID" class="form-control"
                    [(ngModel)]="courseInstructor.CourseID">

            </div>

            <div class="col-md-4">
                <label>InstructorID:</label>
                <input type="text" id="InstructorID" name="InstructorID" placeholder="Enter the courseInstructor InstructorID"
                    class="form-control" [(ngModel)]="courseInstructor.InstructorID">
            </div>

            <div class="col-md-4">
                <label>Course:</label>
                <input type="text" id="Course" name="Course" placeholder="Enter the courseInstructor InstructorID"
                    class="form-control" [(ngModel)]="courseInstructor.Course">
            </div>

            <div class="col-md-4">
                <label>InstructorID:</label>
                <input type="text" id="InstructorID" name="InstructorID" placeholder="Enter the courseInstructor InstructorID"
                    class="form-control" [(ngModel)]="courseInstructor.InstructorID">
            </div>

        </div>
        <br>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary btn-sm" (click)="edit()">Edit</button>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/course-list' ]">Back</a>
        </div>
    </form>
</div>